//fonts
$font-family: 'Orbitron', sans-serif;

//backgrounds
$container-bg: linear-gradient(to left top, #051937, #17496a, #327f9c, #5cb8c8, #94f4ef);
$main-bg: linear-gradient(to bottom, #051937, #17496a, #327f9c, #5cb8c8, #94f4ef);

//colors
$lightcolor: #c0f2f0;    
$darkcolor: #17496a;
$bluegray: #6881a5;  
$error: #9768a5;     