.btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 0;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    border-radius: 9999px;
    color: #f0f8ff;
    cursor: pointer ;

}

.btn-back {
    background-color: #054865;
}

.btn-next {
    background-color: aquamarine ;
    border: 1px solid beige;
}

